<li>
  <a class="nav-link" href="/users">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Users</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/accounts">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Main Account</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/revenues">
    <i class="bx bx-cart-alt" aria-hidden="true"></i>
    <span>Revenue</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/why_nots">
    <i class="bx bx-cart-alt" aria-hidden="true"></i>
    <span>Why Not?</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/non_senses">
    <i class="bx bx-cart-alt" aria-hidden="true"></i>
    <span>Nonsense</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/operations">
    <i class="bx bx-cart-alt" aria-hidden="true"></i>
    <span>Operation</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/plugs">
    <i class="bx bx-cart-alt" aria-hidden="true"></i>
    <span>Plug</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/time_stamps">
    <i class="bx bx-cart-alt" aria-hidden="true"></i>
    <span>Time Stamp</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/bank_accounts">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Bank Detail</span>
  </a>
</li>