<li>
  <a class="nav-link" href="/users">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Users</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/accounts">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Main Account</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/bank_accounts">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Bank Detail</span>
  </a>
</li>