<li>
  <a class="nav-link" href="/loans">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Loan Requests</span>
  </a>
</li>
<li>
  <a class="nav-link" href="Javascript:void(0)">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Bank Detail</span>
  </a>
</li>