<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      Navigation
    </div>
    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">

        <ul class="nav nav-main">
          <li>
            <a class="nav-link" href="/dashboard">
              <i class="bx bx-layout" aria-hidden="true"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <% if current_user.role.in? ['admin', 'super_admin', 'account_manager'] %>
          <li>
            <a class="nav-link" href="/loans">
              <i class="bx bx-home-alt" aria-hidden="true"></i>
              <span>Loan Requests</span>
            </a>
          </li>
          <% end %>
          <li>
            <a class="nav-link" href="/loan_returns">
              <i class="bx bx-home-alt" aria-hidden="true"></i>
              <span>Returned Loans</span>
            </a>
          </li>
          <% if current_user.account_manager? %>
            <%= render partial: 'shared/account_manager' %>
          <% elsif current_user.admin? %>
            <%= render partial: 'shared/admin' %>
          <% elsif current_user.super_admin? %>
            <%= render partial: 'shared/super_admin' %>
          <% elsif current_user.plug_user? || current_user.simple_user? %>
            <%= render partial: 'shared/plug' %>
          <% end %>
        </ul>
      </nav>
    </div>
    <script>
      if (typeof localStorage !== 'undefined') {
        if (localStorage.getItem('sidebar-left-position') !== null) {
          var initialPosition = localStorage.getItem('sidebar-left-position'),
            sidebarLeft = document.querySelector('#sidebar-left .nano-content');
          sidebarLeft.scrollTop = initialPosition;
        }
      }
    </script>
  </div>
</aside>