<li>
  <a class="nav-link" href="/users">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Users</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/accounts">
    <i class="bx bx-home-alt" aria-hidden="true"></i>
    <span>Main Account</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/plugs">
    <i class="bx bx-cart-alt" aria-hidden="true"></i>
    <span>Plug</span>
  </a>
</li>
<li>
  <a class="nav-link" href="/time_stamps">
    <i class="bx bx-cart-alt" aria-hidden="true"></i>
    <span>Time Stamp</span>
  </a>
</li>
<li>
  <a class="nav-link" href="JavaScript:void(0);">
    <i class="bx bx-cart-alt" aria-hidden="true"></i>
    <span>Settings</span>
  </a>
</li>