<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
<section class="body">
  <div class="inner-wrapper">
    <section role="main" class="content-body">
      <header class="page-header">
        <div class="right-wrapper text-right">
        </div>
      </header>
      <% if current_user.account_manager? %>
        <%= render partial: 'home/account_manager_dashboard' %>
      <% elsif current_user.admin? %>
        <%= render partial: 'home/admin_dashboard' %>
      <% elsif current_user.super_admin? %>
        <%= render partial: 'home/super_admin_dashboard' %>
      <% else %>
      <% end %>
    </section>
  </div>
</section>
<script src="/assets/theme.js"></script>