/* Add here all your CSS customizations */
#user-type {
  display: none;
}

#plug-users {
  display: none;
}

.anchor-color {
  color: blue !important;
}

.currency-style{
	font-weight: 700;
  font-size: 50px;
  margin-right: 10px;
}